<div>
    <h1>Lista de productos</h1>
    <div>
        {{#each products}}
            <div>
                <p>Nombre: {{this.nombre}}</p>
                <p>Precio: {{this.precio}}</p>
            </div>
        {{/each}}    
    </div>
</div>
