<div>
    <h1>Chat</h1>
    <form id="formMessage" action="">
         <input type="text" name="" id="input">
         <button id="botonEnviar">Enviar</button>
    </form>
    <section id="messageLog">

    </section>   
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/index.js"></script>