<div>
    {{#if error}}
        <div>Error al registrar usuario</div>
        <a href="/register">Volver a register</a>
    {{/if}}
     {{#if isCorrect}}
            <div>Usuario registrado correctamente</div>
            <a href="/login">Ir a login</a>
    {{/if}}

   
        
</div>

