<h1>Profile</h1>
<div>Nombre: {{user.name}}</div>
<div>Email: {{user.email}}</div>
<div>Edad: {{user.age}}</div>
<div>CartId: {{user.cart_id}}</div>

<form action="" id="logout"><button>Log out</button></form>


<script src="/js/profile.js"></script>