<div>
    <h1>Restore password</h1>
    <form action="" id="formReset">
        <input type="password" id="first_password" placeholder="New password">
    
        <input type="password" id="second_password" placeholder="Repeat">
        <p id="mensajes"></p>
        <button type="submit">Enviar</button>
    </form>
    

    <script src="/js/restorePassword.js"></script>
</div>